{% extends '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="easyadmin-vich-image">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete, { label: 'action.delete' }) }}
            {% endif %}

            {% if download_uri|default('') is not empty %}
                {% set _lightbox_id = 'easyadmin-lightbox-' ~ id %}

                <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ _lightbox_id }}" data-featherlight-close-on-click="anywhere">
                    <img src="{{ asset(download_uri) }}">
                </a>

                <div id="{{ _lightbox_id }}" class="easyadmin-lightbox">
                    <img src="{{ asset(download_uri) }}">
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}