{% extends '::layout_base.html.twig' %}

    {% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Comentario {{ 'list'|trans }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="data-table table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Texto</th>
                                <th>Fecha creacion</th>
                                <th>Fecha actualizacion</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comentario in comentarios %}
                                <tr>
                                    <td>
                                        <a href="{{ path('comentarios_show', { 'id': comentario.id }) }}">{{ comentario.id }}</a>
                                    </td>
                                    <td>{{ comentario.texto }}</td>
                                    <td>{% if comentario.fechaCreacion %}{{ comentario.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if comentario.fechaActualizacion %}{{ comentario.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>
                                        <a class="btn btn-default"
                                           href="{{ path('comentarios_show', { 'id': comentario.id }) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-danger btn-eliminar-comentario"
                                           data-url="{{ path('comentarios_delete', { 'id': comentario.id }) }}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    {% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-eliminar-comentario').click(function () {
                var url = $(this).data('url');

                $('#modal-alert #myModalLabel').html('Aviso!');
                $('#modal-alert .modal-body').html('Desea eliminar este comentario?');
                $('#modal-alert #modal-btn-ok').attr('data-url', url);
                $('#modal-alert').modal('toggle');

            });

            $('#modal-btn-ok').click(function () {
                var url = $(this).data('url');
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (data) {
                        if (data == 'ok') {
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        modalAlert('Ocurrió un error en la operación');
                        console.log('jqXHR', jqXHR);
                        console.log('textStatus', textStatus);
                        console.log('errorThrown', errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock javascripts %}
