{% extends '::layout_base.html.twig' %}
{% trans_default_domain "app" %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-marcar-leido').click(function () {
                var data = {
                    id: $(this).data('id')
                };
                var btn = $(this);
                $.ajax({
                    type: 'post',
                    url: '{{ path("noticia_interna_marcar_leida") }}',
                    data: data,
                    success: function (data) {

                        if (data.leido) {
                            btn.html('<i class="fa fa-circle icon-leido"></i>');

                        } else {
                            btn.html('<i class="fa fa-circle-o icon-no-leido"></i>');
                        }

                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
    Hola {{ empresa }}

    <h1>Noticias EvenProm</h1>

    <div class="row">

        {% for noticia in noticias %}
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{{ asset('bundles/app/img/avatar.jpg') }}" alt="User Image">
                            <span class="username"><a href="#">{{ noticia.creadoPor }}</a></span>
                            <span class="description">{{ 'Shared publicly' | trans }}
                                - {{ noticia.fechaCreacion | date('d/m/Y') }}</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool btn-marcar-leido" data-id="{{ noticia.id }}"
                                    data-toggle="tooltip"
                                    title="{{ "Marcar como leído" | trans }}">
                                {% if noticia in noticiasInternasEmpresa %}
                                    {% if noticiasInternasEmpresa[noticia].leido %}
                                        <i class="fa fa-circle icon-leido"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-circle-o icon-no-leido"></i>
                                {% endif %}
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool btn-no-mostrar-mas" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <img class="img-responsive pad"
                             src="{{ asset('uploads/images/noticias_internas/'~ noticia.imageName) }}"
                             alt="Attachment Image">

                        <!-- post text -->
                        {{ noticia.cuerpo |raw }}


                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                    <div class="box-footer">

                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        {% endfor %}

    </div>
{% endblock %}
