{% extends '::layout_base.html.twig' %}
{% trans_default_domain "app" %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.btn-marcar-leido').click(function () {
                var data = {
                    id: $(this).data('id')
                };
                var btn = $(this);
                $.ajax({
                    type: 'post',
                    url: '{{ path("noticia_interna_marcar_leida") }}',
                    data: data,
                    success: function (data) {

                        if (data.leido) {
                            btn.html('<i class="fa fa-circle icon-leido"></i>');

                        } else {
                            btn.html('<i class="fa fa-circle-o icon-no-leido"></i>');
                        }

                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}

    <div class="col-md-6">
        {{ 'Hola'|trans }} {{ empresa }}
        <h1>Noticias EvenProm</h1>
    </div>

    <div class="col-md-6">
        <h1>LO AYUDAMOS A CARGAR SU EMPRESA. Llamenos por Whatsapp o escribanos que lo asistiremos gratuitamente</h1>
    </div>

    <div class="row">

        {% for noticia in noticias %}
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{{ asset('bundles/app/img/favicon.png') }}" alt="User Image">
                            <span class="username"><a href="#">EvenProm</a></span>
                            <span class="description">{{ 'Shared publicly' | trans }}
                                - {{ noticia.fechaCreacion | date('d/m/Y') }}</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool btn-marcar-leido" data-id="{{ noticia.id }}"
                                    data-toggle="tooltip"
                                    title="{{ "Marcar como leído" | trans }}">
                                {% if noticia in noticiasInternasEmpresa %}
                                    {% if noticiasInternasEmpresa[noticia].leido %}
                                        <i class="fa fa-circle icon-leido"></i>
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-circle-o icon-no-leido"></i>
                                {% endif %}
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool btn-no-mostrar-mas" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        {% if noticia.imageName %}
                            <img class="img-responsive pad"
                                 src="{{ asset('uploads/images/noticias_internas/'~ noticia.imageName) }}"
                                 alt="Attachment Image">
                        {% endif %}

                        <!-- post text -->
                        {{ noticia.cuerpo |raw }}


                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                    <div class="box-footer">

                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        {% endfor %}

        {% for promoCalendario in promocionesCalendario %}
            <div class="col-md-6">
                <!-- Box Comment -->
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{{ asset('bundles/app/img/favicon.png') }}" alt="User Image">
                            <span class="username"><a href="#">EvenProm</a></span>
                            <span class="description">{{ 'Promoción Calendario' |trans }}
                                - {{ 'Disponible hasta' |trans }}
                                : {{ promoCalendario.disponibleHasta | date('d/m/Y') }}</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="box-tools">

                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <h1>{{ promoCalendario.titulo }}</h1>


                        <!-- post text -->
                        <p>{{ promoCalendario.descripcion }}</p>


                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                    <div class="box-footer">
                        {% if promoCalendario.empresa is not null %}
                            <a class="btn btn-block btn-default disabled" href="{{ path('plan_empresa_basic') }}">
                                Adquirido
                            </a>
                        {% else %}
                            <a class="btn btn-block btn-primary"
                               href="{{ path('promocion_calendario_adquirir', {'id':promoCalendario.id } ) }}">
                                {{ 'Adquirir'|trans }}
                            </a>
                        {% endif %}
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        {% endfor %}
    </div>
{% endblock %}
