{% extends '::layout_base.html.twig' %}
{% trans_default_domain "app" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
    {#leaflet#}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>
    <style>
        .widget-user .widget-user-image {
            left: 50%;
            margin-left: -45px;
            position: absolute;
            top: 50px;
        }

        .widget-user .widget-user-image > img {
            border: 3px solid #fff;
            height: 100px;
            width: 100px;
        }

        .btn-color {
            border-radius: 60px;
            height: 100px;
            width: 100px;
        }

        .users-list > li {
            width: 33%;
        }

        #mapid {
            height: 300px;
        }

        .search-input,
        .leaflet-control-search {
            max-width: 400px;
        }

    </style>
{% endblock stylesheets %}
{% block content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'profile.empresa'|trans }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="col-md-12">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header" style="background-color: {{ empresa.color }};">
                                <h3 class="widget-user-username">{{ empresa }}</h3>
                                <h5 class="widget-user-desc">{{ empresa.descripcion }}</h5>
                            </div>
                            <div class="widget-user-image">
                                {% if empresa.imageName %}
                                    <img alt="User Avatar"
                                         src="{{ asset('uploads/images/empresas/'~ empresa.imageName) }}"
                                         class="img-circle">
                                {% endif %}
                            </div>
                            <div class="box-footer bg-gray">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">{{ empresa.checkins }}</h5>
                                            <span class="description-text">CHECKINS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">{{ empresa.likes }}</h5>
                                            <span class="description-text">LIKES</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header"></h5>
                                            <span class="description-text">RANKING</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>

                    {{ form_row(form.nombre) }}
                    {{ form_row(form.descripcion) }}
                    {{ form_row(form.color) }}
                    <div class="row">
                        <div class="col-md-6">
                            <span>Colores Recomendados</span>
                            <ul class="users-list clearfix">
                                <li>
                                    <button type="button" class="btn btn-color"
                                            style="background-color: #00ea9f"></button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-color"
                                            style="background-color: #00c0cf"></button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-color"
                                            style="background-color: #6a66d2"></button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-color"
                                            style="background-color: #5c666f"></button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-color"
                                            style="background-color: #efe91c"></button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-color"
                                            style="background-color: #d45ce6"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{ form_row(form.cuit) }}
                    {{ form_row(form.linkYoutube) }}
                    {{ form_row(form.linkFacebook) }}
                    {{ form_row(form.linkTwitter) }}
                    {{ form_row(form.linkInstagram) }}
                    {{ form_row(form.imageFile) }}
                    {{ form_row(form.direccionEmpresa) }}
                    <div class="row">
                        <div class="col-md-6">
                            <span>Para mejorar tu direccion arrastra el pin hasta tu ubicación.</span>
                            <div id="mapid"></div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary"><i
                                class="fa fa-save"></i> {{ 'button.guardar' |trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.js') }}"></script>
    {#leaflet#}
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script>
        var hexDigits = new Array
        ("0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "a", "b", "c", "d", "e", "f");

        //Function to convert hex format to a rgb color
        function rgb2hex(rgb) {
            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        }

        function hex(x) {
            return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
        }

        $(document).ready(function () {
            $(".colorpicker").colorpicker();
            $(".btn-color").click(function () {
                var color = $(this).css('background-color');
                $('#{{ form.color.vars.id }}').val(rgb2hex(color));
            });

            var map = L.map('mapid', {doubleClickZoom: false}).locate({setView: true, maxZoom: 16});
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                maxZoom: 18
            }).addTo(map);

            map.on('click', function (e) {
                if (typeof marker === 'undefined') {
                    marker = new L.marker(e.latlng, {draggable: 'true'});

                    console.log(e.latlng);

                    $('.direccion-lat').val(e.latlng.lat);
                    $('.direccion-lng').val(e.latlng.lng);

                    marker.on('dragend', function (event) {
                        var marker = event.target;
                        var position = marker.getLatLng();
                        console.log(position);
                        marker.setLatLng(position, {draggable: 'true'}).bindPopup(position).update();

                        $('.direccion-lat').val(position.lat);
                        $('.direccion-lng').val(position.lng)

                    });
                    map.addLayer(marker);
                } else {
                    marker.setLatLng(e.latlng, {draggable: 'true'}).bindPopup(e.latlng).update();
                    var position = marker.getLatLng();
                    console.log(position);
                    $('.direccion-lat').val(position.lat);
                    $('.direccion-lng').val(position.lng)
                }
            });


        });
    </script>
    {% include 'UbicacionBundle:Default:matudelatower_ubicacionbundle.js.twig' %}
{% endblock %}
