{% extends '::layout_base.html.twig' %}
{% trans_default_domain "app" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.css') }}">
    <style>
        .widget-user .widget-user-image {
            left: 50%;
            margin-left: -45px;
            position: absolute;
            top: 50px;
        }
        .widget-user .widget-user-image > img {
            border: 3px solid #fff;
            height: 100px;
            width: 100px;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'profile.empresa'|trans }}</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    <div class="col-md-12">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header" style="background-color: {{ empresa.color }};">
                                <h3 class="widget-user-username">{{ empresa }}</h3>
                                <h5 class="widget-user-desc">{{ empresa.descripcion }}</h5>
                            </div>
                            <div class="widget-user-image">
                                {% if empresa.imageName %}
                                    <img alt="User Avatar"
                                         src="{{ asset('uploads/images/empresas/'~ empresa.imageName) }}"
                                         class="img-circle">
                                {% endif %}
                            </div>
                            <div class="box-footer bg-gray">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">3,200</h5>
                                            <span class="description-text">SALES</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">13,000</h5>
                                            <span class="description-text">FOLLOWERS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">35</h5>
                                            <span class="description-text">PRODUCTS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>

                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'button.guardar' |trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/plugins/colorpicker/bootstrap-colorpicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".colorpicker").colorpicker();
        });
    </script>
    {% include 'UbicacionBundle:Default:matudelatower_ubicacionbundle.js.twig' %}
{% endblock %}
