{% extends '::layout_base.html.twig' %}
{% trans_default_domain "app" %}
    {% block content %}

        <div class="row">

        </div>

        <div class="row">
            {% for plan in planes %}
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ plan.nombre }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <b>Descripcion:</b> <span>{{ plan.descripcion }}</span><br>
                            <b>Periodo:</b> <span> {{ plan.periodo }} días</span>

                            <img class="img-responsive pad" src="{{ asset('uploads/images/planes/'~ plan.imageName) }}">
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            {% if planEmpresa is not empty and planEmpresa[0].plan == plan %}
                                <a class="btn btn-block btn-default disabled" href="#">
                                    Adquirido
                                </a>
                            {% else %}

                                {% if plan.botonMercadoPago is null and plan.botonPayPal is null %}
                                    <a class="btn btn-block btn-primary" href="{{ path('plan_empresa_basic') }}">
                                        Adquirir
                                    </a>
                                {% else %}
                                    {{ plan.botonMercadoPago | raw }}
                                    {{ plan.botonPayPal | raw }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endblock %}
