{% extends 'layout_base_public.html.twig' %}

{% block content %}

    <div class="row">
        {% for publicacion in publicaciones %}
            <div class="col-md-offset-3 col-md-6 col-sm-6 col-xs-12">
                <!-- Info Boxes Style 2 -->
                <div class="ep-info-box" style="border-bottom-color: {{ publicacion.colorPublicacion }}">

                    <div class="ep-info-box-content text-center">
                        <div class="row ep-info-box-content-body">
                            <span class="ep-info-box-titulo">{{ publicacion.titulo }}</span><br>
                            <span class="ep-info-box-descripcion">{{ publicacion.descripcion }}</span>
                        </div>
                    </div>
                    <div class="ep-info-box-empresa text-center">
                        <div class="row ep-info-box-empresa-body">
                        <span class="ep-info-box-nombre-empresa"
                              style="color: {{ publicacion.colorPublicacion }}">{{ publicacion.publicacionEmpresa.first.empresa }}</span>
                        </div>
                    </div>
                    <div class="ep-info-box-botones text-center" style="background-color: {{ publicacion.colorPublicacion }}">
                        <a href="#" class="btn ep-btn-oferta">
                            <i class="fa fa-heart-o"></i>
                        </a>
                        <a href="#" class="btn ep-btn-oferta">
                            <i class="fa fa-commenting-o"></i>
                        </a>
                        <a href="#" class="btn ep-btn-oferta">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </div>
                </div>
                <!-- /.info-box -->

            </div>
            <!-- /.box -->


        {% endfor %}
    </div>

    {#<a href="{{ path('fos_user_security_login') }}">Iniciar Sesion</a>#}
    {#<a href="{{ path('empresa_registrar') }}">Registra Tu Empresa</a>#}
{% endblock content %}
