{% extends 'layout_base_public.html.twig' %}
{% trans_default_domain "app" %}

{% block promoCalendario %}

    {% if promoCalendario is not empty %}

        {% for promo in promoCalendario %}
            {#<div class="ep-publicacion-box">#}
                {#<div class="ep-promo-calendario-info-box promo-calendario-box"#}
                     {#data-promo-calendario-id="{{ promo.id }}">#}
                    {#<div class="ep-promo-calendario-titulo"#}
                         {#style="background-color: {{ promo.colorPublicacion }};">#}
                        {#{{ promo.titulo |upper }}#}
                    {#</div>#}
                    {#<div class="ep-promo-calendario-body">#}
                        {#<a href="#" class="btn-ver-promo-calendario" data-promo-calendario-id="{{ promo.id }}">#}
                            {#{% set src = asset('bundles/app/img/default-thumbnail.jpeg') %}#}
                            {#{% if promo.imageName %}#}
                                {#{% set src = asset('uploads/images/publicaciones/'~ promo.imageName) %}#}
                            {#{% endif %}#}
                            {#<img class="img-responsive"#}
                                 {#src="{{ src }}"#}
                                 {#alt="Photo">#}
                        {#</a>#}
                        {#<div class="ep-promo-calendario-nombre-empresa">#}
                            {#{{ promo.empresa | upper }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div id="content" class="bs-docs-header" tabindex="-1">
                <div>
                    <div class="ep-promo-calendario-titulo"
                         style="background-color: {{ promo.colorPublicacion }};">
                        {{ promo.titulo |upper }}
                    </div>
                    {% set src = asset('bundles/app/img/default-thumbnail.jpeg') %}
                    {% if promo.imageName %}
                        {% set src = asset('uploads/images/publicaciones/'~ promo.imageName) %}
                    {% endif %}
                    <img class="img-responsive"
                         src="{{ src }}"
                         alt="Promo Calendario">
                    {#Se comenta el nombre de la empresa por solicitud de daiana#}
                    {#<div class="ep-promo-calendario-nombre-empresa">#}
                    {#{{ promo.empresa | upper }}#}
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div id="content" class="bs-docs-header" tabindex="-1">
            <div>
                <img class="img-responsive" src="http://placehold.it/1920x500/39CCCC/ffffff&text=EvenProm">
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="modal-publicacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">EvenProm</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="row">
                {% if is_granted("ROLE_PERSONA") %}
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua-active">
                            <h3 class="widget-user-username">{{ app.user.persona.first }}</h3>

                        </div>
                        <div class="widget-user-image">
                            <img src="{% if app.user.persona.first and app.user.persona.first.imageName %}
                                {{ asset('uploads/images/personas/'~ app.user.persona.first.imageName) }}
                                {% else %}
                                    {{ asset('bundles/app/img/avatar.jpg') }}
                                {% endif %}" class="img-circle user-image" alt="User Image">
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">{{ app.user.persona.first.checkIns }}</h5>
                                        <span class="description-text">CHECK INS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <a href="{{ path('persona_perfil') }}">
                                            {{ 'perfil' |trans }}
                                        </a>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">{{ app.user.persona.first.favoritos }}</h5>
                                        <span class="description-text">FAVORITOS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>

                {% endif %}

            </div>
            <div class="row">
                <div class="box box-solid">
                    <div class="box-header with-border">

                        <h3 class="box-title">
                            <i class="fa fa-bell-o"></i>
                            Configurar Notificaciones</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p class="text-center">
                            <a href='https://play.google.com/store/apps/details?id=com.evenprom.evenpromapp&hl=es&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                        alt='Disponible en Google Play'

                                        src='{{ asset('bundles/app/img/play-logo.png') }}'/></a>
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="row">
                <div class="box box-solid">
                    <div class="box-header with-border">

                        <h3 class="box-title">Próximos Eventos</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-6">

            {% for publicacion in publicaciones %}
                <div class="ep-publicacion-box">

                    {% if publicacion.publicacionEmpresa.first.empresa.premium %}
                        {% set colorPublicacion = publicacion.colorPublicacion %}
                        {# Premium #}
                        <div class="ep-info-box-premium">
                            <div class="ep-info-box-empresa-premium">
                        <span class="fecha-publicacion">
                            {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                            {% set hora =  publicacion.horaInicio | date('H') %}
                            {% if publicacion.tipoPublicacion.slug =='evento' %}
                                {% if hora != publicacion.horaInicio | date('H') %}
                                    {% set hora =  publicacion.horaInicio | date('H') %}
                                {% endif %}
                                {{ hora }} HS
                            {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                {% if date() != publicacion.fechaInicio %}
                                    {% if publicacion.fechaInicio < date() %}
                                        {% set fecha =  "now"|date("d-M") %}
                                    {% else %}
                                        {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                                    {% endif %}
                                {% endif %}
                                {{ fecha }}
                            {% endif %}

                        </span>
                                <div class="ep-info-box-empresa-body-premium">

                        <span class="ep-info-box-nombre-empresa-premium"
                              style="color: {{ colorPublicacion }}">
                            <i class="fa {% if publicacion.publicacionEmpresa.first.empresa.rubros | length > 0 %}
                            {{ publicacion.publicacionEmpresa.first.empresa.rubros[0].iconoWeb }}

                            {% endif %}"></i> | <strong>{{ publicacion.publicacionEmpresa.first.empresa }}</strong></span>
                                </div>
                                <div class="">
                                    <span class="ep-info-box-descripcion ep-gris-claro">{{ publicacion.descripcion }}</span>
                                </div>

                            </div>
                            <div class="ep-info-box-content text-center">
                                <div class="ep-info-box-content-body">

                                </div>
                            </div>
                        </div>
                        <div class="ep-info-box-premium">
                            <a href="#" class="btn-ver-publicacion" data-publicacion-id="{{ publicacion.id }}">
                                {% set src = asset('bundles/app/img/default-thumbnail.jpeg') %}
                                {% if publicacion.imageName %}
                                    {% set src = asset('uploads/images/publicaciones/'~ publicacion.imageName) %}
                                {% endif %}
                                <img class="img-responsive pad"
                                     src="{{ src }}"
                                     alt="Photo">
                            </a>
                            <div class="ep-badge-evento-premium" style="background-color: {{ colorPublicacion }}">
                            <span class="ep-info-box-titulo-premium">
                                <strong>
                                {% if publicacion.tipoPublicacion.slug =='evento' %}
                                    {{ publicacion.titulo }}
                                {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                    {% if publicacion.descuentoPublicacion.first | length > 0 %}
                                        {{ publicacion.descuentoPublicacion.first.descuento.nombre }}
                                    {% endif %}
                                {% endif %}
                                </strong>
                            </span>
                            </div>
                        </div>
                    {% else %}
                        {% set colorPublicacion = '#5c666f' %}
                        <!-- Info Boxes Style 2 -->
                        <div class="ep-info-box" data-publicacion-id="{{ publicacion.id }}">
                            <div class="ep-info-box-empresa">
                        <span class="fecha-publicacion">
                            {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                            {% set hora =  publicacion.horaInicio | date('H') %}
                            {% if publicacion.tipoPublicacion.slug =='evento' %}
                                {% if hora != publicacion.horaInicio | date('H') %}
                                    {% set hora =  publicacion.horaInicio | date('H') %}
                                {% endif %}
                                {{ hora }} HS
                            {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                {% if date() != publicacion.fechaInicio %}
                                    {% if publicacion.fechaInicio < date() %}
                                        {% set fecha =  "now"|date("d-M") %}
                                    {% else %}
                                        {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                                    {% endif %}
                                {% endif %}
                                {{ fecha }}
                            {% endif %}

                        </span>
                                <div class="ep-info-box-empresa-body">

                        <span class="ep-info-box-nombre-empresa"
                              style="color: {{ colorPublicacion }}">
                            <i class="fa {% if publicacion.publicacionEmpresa.first.empresa.rubros | length > 0 %}
                            {{ publicacion.publicacionEmpresa.first.empresa.rubros[0].iconoWeb }}
                            {% endif %}"></i> | <strong>{{ publicacion.publicacionEmpresa.first.empresa }}</strong></span>
                                </div>
                                <div class="text-center">
                                    <span class="ep-info-box-descripcion ep-gris-claro">{{ publicacion.descripcion }}</span>
                                </div>

                            </div>
                            <div class="ep-info-box-content text-center">
                                <div class="ep-info-box-content-body">
                            <span class="ep-info-box-titulo" style="color: {{ colorPublicacion }}">
                                <strong>
                                {% if publicacion.tipoPublicacion.slug =='evento' %}
                                    {{ publicacion.titulo }}
                                {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                    {% if publicacion.descuentoPublicacion.first | length > 0 %}
                                        {{ publicacion.descuentoPublicacion.first.descuento.nombre }}
                                    {% endif %}
                                {% endif %}
                                </strong>
                            </span><br>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="ep-info-box-botones">
                        <a href="#" data-publicacion-id="{{ publicacion.id }}"
                           class="btn ep-btn-oferta-comentar ep-btn-oferta ep-celeste">
                            <i class="fa fa-commenting-o"></i>
                        </a>
                        <a href="#" data-publicacion-id="{{ publicacion.id }}"
                           class="btn ep-btn-oferta-favear ep-btn-oferta ep-rojo">
                            {% set faHeart = 'fa-heart-o' %}
                            {% for favorito in favoritos %}
                                {% if publicacion == favorito.publicacion %}
                                    {% set faHeart = 'fa-heart' %}
                                {% endif %}
                            {% endfor %}
                            <i class="fa {{ faHeart }}"></i>
                        </a>
                        <div class="btn-group ep-btn-share">
                            <a class="btn dropdown-toggle ep-btn-oferta ep-verde" data-toggle="dropdown">
                                <span class="fa fa-share-alt"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-publicacion-id="{{ publicacion.id }}"
                                       data-href="{{ url('publicacion_public_show', {'id': publicacion.id }, true) }}"
                                       data-image="{{ asset('uploads/images/publicaciones/'~ publicacion.imageName, null, true) }}"
                                       data-name="{{ publicacion.titulo }}"
                                       class="ep-btn-oferta-compartir">
                                        <i class="fa fa-facebook"></i> Compartir
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/intent/tweet?text={{ publicacion.titulo }}&url={{ url('publicacion_public_show', {'id': publicacion.id }) }}&via=evenprom">
                                        <i class="fa fa-twitter"></i> Tweet
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <!-- /.info-box -->

                </div>
                <!-- /.box -->


            {% endfor %}
        </div>
        <div class="col-md-3 hidden-xs">
            <div class="row">
                <div class="box box-solid">
                    <div class="box-header with-border">

                        <h3 class="box-title">Noticias Empresas</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        {% for rubro in rubros %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" class=""></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://placehold.it/900x500/39CCCC/ffffff&text=EvenProm" alt="First slide">

                            <div class="carousel-caption">
                                {#First Slide#}
                            </div>
                        </div>
                        {% set colores = ['00e9af', '00c0cf', '6a66d2', 'efe91c', 'd45ce6', 'd1dbe3', 'ff1c46'] %}
                        {% for rubro in rubros %}
                            <div class="item">
                                <img src="http://placehold.it/900x500/{{ colores[loop.index0] }}/ffffff&text={{ rubro.nombre }}"
                                     alt="Second slide">

                                <div class="carousel-caption">
                                    {#Second Slide#}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>

            {% for rubro in rubros %}
                <div class="row">
                    <div class="box" style="border-top-color: #{{ colores[loop.index0] }}">
                        <div class="box-header with-border">

                            <h3 class="box-title"><i class="fa {{ rubro.iconoWeb }}"></i> {{ rubro.nombre }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% if rubro.thumbRubro.count > 0 %}
                                <div id="carousel-example-generic-{{ rubro.id }}" class="carousel slide"
                                     data-ride="carousel">

                                    <div class="carousel-inner">

                                        {% for imagen in rubro.thumbRubro %}
                                            <div class="item {% if loop.first %}active{% endif %}">
                                                <img src="{{ asset('uploads/images/rubros/'~ imagen.imageName) }}"
                                                     alt="{{ rubro.nombre }}">
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic-{{ rubro.id }}"
                                       data-slide="prev">
                                        <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic-{{ rubro.id }}"
                                       data-slide="next">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                            {% else %}
                                <img src="http://placehold.it/900x500/{{ colores[loop.index0] }}/ffffff&text={{ rubro.nombre }}"
                                     alt="Second slide" class="img-responsive">
                            {% endif %}

                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    <script>

        function openModalPublicacion(id) {
            $.ajax({
                type: 'get',
                url: '{{ path("ver_publicacion") }}',
                data: {id: id},
                success: function (data) {
                    $('#modal-publicacion .modal-body').html(data);
                    $('#modal-publicacion').modal('toggle');
                }
            });
        }

        $(function () {
            if (window.location.hash) {
                var hash = window.location.hash;

                console.log('hash', hash);
                var split = hash.split("/");

                if (split[0] == '#publicacion') {
                    var id = split[1];
                    openModalPublicacion(id);
                }

//                $(hash).modal('toggle');
            }
        });

        $(document).ready(function () {

            $('.btn-ver-publicacion, .ep-info-box').click(function (e) {
                e.preventDefault();

                var id = $(this).data('publicacion-id');
                openModalPublicacion(id);

            });
//            $('.btn-ver-promo-calendario').click(function (e) {
//                e.preventDefault();
//
//                var id = $(this).data('promo-calendario-id');
//                openModalPublicacion(id);
//
//            });


        });
    </script>
{% endblock %}
