{% extends 'layout_base_public.html.twig' %}
{% trans_default_domain "app" %}
{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="modal-publicacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">EvenProm</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ "close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% if promoCalendario is not empty %}

            {% for promo in promoCalendario %}
                <div class="col-md-offset-3 col-md-6 col-sm-6 col-xs-12 ep-publicacion-box">
                    <div class="ep-promo-calendario-info-box promo-calendario-box"
                         data-promo-calendario-id="{{ promo.id }}">
                        <div class="ep-promo-calendario-titulo" style="background-color: {{ promo.colorPublicacion }};">
                            {{ promo.titulo |upper }}
                        </div>
                        <div class="ep-promo-calendario-body">
                            <a href="#" class="btn-ver-promo-calendario" data-promo-calendario-id="{{ promo.id }}">
                                {% set src = asset('bundles/app/img/default-thumbnail.jpeg') %}
                                {% if promo.imageName %}
                                    {% set src = asset('uploads/images/publicaciones/'~ promo.imageName) %}
                                {% endif %}
                                <img class="img-responsive"
                                     src="{{ src }}"
                                     alt="Photo">
                            </a>
                            <div class="ep-promo-calendario-nombre-empresa">
                                {{ promo.empresa | upper }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
        {% for publicacion in publicaciones %}

            <div class="col-md-offset-3 col-md-6 col-sm-6 col-xs-12 ep-publicacion-box">

                {% if publicacion.publicacionEmpresa.first.empresa.premium %}
                    {% set colorPublicacion = publicacion.colorPublicacion %}
                    {# Premium #}
                    <div class="ep-info-box-premium">
                        <div class="ep-info-box-empresa-premium">
                        <span class="fecha-publicacion">
                            {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                            {% set hora =  publicacion.horaInicio | date('H') %}
                            {% if publicacion.tipoPublicacion.slug =='evento' %}
                                {% if hora != publicacion.horaInicio | date('H') %}
                                    {% set hora =  publicacion.horaInicio | date('H') %}
                                {% endif %}
                                {{ hora }} HS
                            {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                {% if date() != publicacion.fechaInicio %}
                                    {% if publicacion.fechaInicio < date() %}
                                        {% set fecha =  "now"|date("d-M") %}
                                    {% else %}
                                        {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                                    {% endif %}
                                {% endif %}
                                {{ fecha | upper }}
                            {% endif %}

                        </span>
                            <div class="ep-info-box-empresa-body-premium">

                        <span class="ep-info-box-nombre-empresa-premium"
                              style="color: {{ colorPublicacion }}">
                            <i class="fa {% if publicacion.publicacionEmpresa.first.empresa.categoriaEmpresa.first | length > 0 %}
                            {{ publicacion.publicacionEmpresa.first.empresa.categoriaEmpresa.first.categoria.iconoWeb }}

                            {% endif %}"></i> | {{ publicacion.publicacionEmpresa.first.empresa }}</span>
                            </div>
                            <div class="">
                                <span class="ep-info-box-descripcion">{{ publicacion.descripcion }}</span>
                            </div>

                        </div>
                        <div class="ep-info-box-content text-center">
                            <div class="ep-info-box-content-body">

                            </div>
                        </div>
                    </div>
                    <div class="ep-info-box-premium">
                        <a href="#" class="btn-ver-publicacion" data-publicacion-id="{{ publicacion.id }}">
                            {% set src = asset('bundles/app/img/default-thumbnail.jpeg') %}
                            {% if publicacion.imageName %}
                                {% set src = asset('uploads/images/publicaciones/'~ publicacion.imageName) %}
                            {% endif %}
                            <img class="img-responsive pad"
                                 src="{{ src }}"
                                 alt="Photo">
                        </a>
                        <div class="ep-badge-evento-premium" style="background-color: {{ colorPublicacion }}">
                            <span class="ep-info-box-titulo-premium">
                                {% if publicacion.tipoPublicacion.slug =='evento' %}
                                    {{ publicacion.titulo }}
                                {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                    {% if publicacion.descuentoPublicacion.first | length > 0 %}
                                        {{ publicacion.descuentoPublicacion.first.descuento.nombre }}
                                    {% endif %}
                                {% endif %}

                            </span>
                        </div>
                    </div>
                {% else %}
                    {% set colorPublicacion = '#5c666f' %}
                    <!-- Info Boxes Style 2 -->
                    <div class="ep-info-box" data-publicacion-id="{{ publicacion.id }}">
                        <div class="ep-info-box-empresa">
                        <span class="fecha-publicacion">
                            {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                            {% set hora =  publicacion.horaInicio | date('H') %}
                            {% if publicacion.tipoPublicacion.slug =='evento' %}
                                {% if hora != publicacion.horaInicio | date('H') %}
                                    {% set hora =  publicacion.horaInicio | date('H') %}
                                {% endif %}
                                {{ hora }} HS
                            {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                {% if date() != publicacion.fechaInicio %}
                                    {% if publicacion.fechaInicio < date() %}
                                        {% set fecha =  "now"|date("d-M") %}
                                    {% else %}
                                        {% set fecha =  publicacion.fechaInicio | date('d-M') %}
                                    {% endif %}
                                {% endif %}
                                {{ fecha | upper }}
                            {% endif %}

                        </span>
                            <div class="ep-info-box-empresa-body">

                        <span class="ep-info-box-nombre-empresa"
                              style="color: {{ colorPublicacion }}">
                            <i class="fa {% if publicacion.publicacionEmpresa.first.empresa.categoriaEmpresa.first | length > 0 %}
                            {{ publicacion.publicacionEmpresa.first.empresa.categoriaEmpresa.first.categoria.iconoWeb }}
                            {% endif %}"></i> | {{ publicacion.publicacionEmpresa.first.empresa }}</span>
                            </div>
                            <div class="text-center">
                                <span class="ep-info-box-descripcion">{{ publicacion.descripcion }}</span>
                            </div>

                        </div>
                        <div class="ep-info-box-content text-center">
                            <div class="ep-info-box-content-body">
                            <span class="ep-info-box-titulo" style="color: {{ colorPublicacion }}">
                                {% if publicacion.tipoPublicacion.slug =='evento' %}
                                    {{ publicacion.titulo }}
                                {% elseif publicacion.tipoPublicacion.slug =='oferta' %}
                                    {% if publicacion.descuentoPublicacion.first | length > 0 %}
                                        {{ publicacion.descuentoPublicacion.first.descuento.nombre }}
                                    {% endif %}
                                {% endif %}

                            </span><br>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="ep-info-box-botones">
                    <a href="#" data-publicacion-id="{{ publicacion.id }}"
                       class="btn ep-btn-oferta-comentar ep-btn-oferta ep-celeste">
                        <i class="fa fa-commenting-o"></i>
                    </a>
                    <a href="#" data-publicacion-id="{{ publicacion.id }}"
                       class="btn ep-btn-oferta-favear ep-btn-oferta ep-rojo">
                        {% for favorito in favoritos %}
                            {% if publicacion == favorito.publicacion %}
                                <i class="fa fa-heart"></i>
                            {% else %}
                                <i class="fa fa-heart-o"></i>
                            {% endif %}
                        {% endfor %}
                    </a>
                    <div class="btn-group ep-btn-share">
                        <a class="btn dropdown-toggle ep-btn-oferta ep-verde" data-toggle="dropdown">
                            <span class="fa fa-share-alt"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-publicacion-id="{{ publicacion.id }}"
                                   data-href="{{ url('publicacion_public_show', {'id': publicacion.id }, true) }}"
                                   data-image="{{ asset('uploads/images/publicaciones/'~ publicacion.imageName, null, true) }}"
                                   data-name="{{ publicacion.titulo }}"
                                   class="ep-btn-oferta-compartir">
                                    <i class="fa fa-facebook"></i> Compartir
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/intent/tweet?text={{ publicacion.titulo }}&url={{ url('publicacion_public_show', {'id': publicacion.id }) }}&via=evenprom">
                                    <i class="fa fa-twitter"></i> Tweet
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- /.info-box -->

            </div>
            <!-- /.box -->


        {% endfor %}
    </div>

{% endblock content %}
{% block javascripts %}
    <script>

        function openModalPublicacion(id) {
            $.ajax({
                type: 'get',
                url: '{{ path("ver_publicacion") }}',
                data: {id: id},
                success: function (data) {
                    $('#modal-publicacion .modal-body').html(data);
                    $('#modal-publicacion').modal('toggle');
                }
            });
        }

        $(function () {
            if (window.location.hash) {
                var hash = window.location.hash;

                console.log('hash', hash);
                var split = hash.split("/");

                if (split[0] == '#publicacion') {
                    var id = split[1];
                    openModalPublicacion(id);
                }

//                $(hash).modal('toggle');
            }
        });

        $(document).ready(function () {

            $('.btn-ver-publicacion, .ep-info-box').click(function (e) {
                e.preventDefault();

                var id = $(this).data('publicacion-id');
                openModalPublicacion(id);

            });
//            $('.btn-ver-promo-calendario').click(function (e) {
//                e.preventDefault();
//
//                var id = $(this).data('promo-calendario-id');
//                openModalPublicacion(id);
//
//            });


        });
    </script>
{% endblock %}
