{% extends 'layout_base_public.html.twig' %}

{% block content %}
    <div class="row margin-bottom-5">
        {#<div class="col-md-6 col-md-offset-3">#}
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% for rubro in rubros %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}" class=""></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://placehold.it/1920x500/39CCCC/ffffff&text=EvenProm" alt="First slide">

                        <div class="carousel-caption">
                            {#First Slide#}
                        </div>
                    </div>
                    {% set colores = ['00e9af', '00c0cf', '6a66d2', 'efe91c', 'd45ce6', 'd1dbe3', 'ff1c46'] %}
                    {% for rubro in rubros %}
                        <div class="item">
                            <img src="http://placehold.it/1920x500/{{ colores[loop.index0] }}/ffffff&text={{ rubro.nombre }}"
                                 alt="Second slide">

                            <div class="carousel-caption">
                                {#Second Slide#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row margin-bottom-5">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-4 col-md-1">
                    &nbsp;
                </div>
                {% for rubro in rubros %}
                    <div class="col-sm-4 col-md-2">
                        <div class="row text-center">
                            <a class="btn ep-btn-app" href="{{ path('sitios_index', {rubro: rubro.slug}) }}">
                                <i class="fa {{ rubro.iconoWeb }}"></i>
                            </a>
                        </div>
                        <div class="row text-center">
                            <label>{{ rubro.nombre }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for empresa in empresas %}
            <div class="col-md-4 col-xs-6">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header" style="background-color: {{ empresa.color }}">
                        <h3 class="widget-user-username">{{ empresa.nombre |upper}}</h3>
                        <h5 class="widget-user-desc">{{ empresa.descripcion }}</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle"
                             src="{% if empresa.imageName %}{{ asset('uploads/images/empresas/'~ empresa.imageName) }}{% else %} {{ asset('bundles/app/img/avatar.jpg') }} {% endif %} "
                             alt="User Avatar">
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">{{ empresa.likes }}</h5>
                                    <span class="description-text">LIKES</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <span class="description-text">
                                        <a href="{{ path('app_perfil_empresa', {'id': empresa.id }) }}">Ver Perfil</a>
                                    </span>

                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <span class="description-text">
                                        <a class="btn ep-btn-empresa-favear ep-rojo" data-empresa-id="{{ empresa.id }}"
                                           href="#">
                                            {% set faHeart = 'fa-heart-o' %}
                                            {% for favorito in favoritos %}
                                                {% if empresa == favorito.empresa %}
                                                    {% set faHeart = 'fa-heart' %}
                                                {% endif %}
                                            {% endfor %}
                                            <i class="fa {{ faHeart }}"></i>

                                        </a>
                                    </span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
        {% endfor %}
    </div>

{% endblock %}