{% block extends %}
    {{ "{% extends '::layout_base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block content %}" }}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ entity }} edit</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="row">
                <div class="col-md-12">

                    {{ '{{ form_start(edit_form) }}' }}
                    {{ '{{ form_widget(edit_form) }}' }}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ "{{ 'button.save'|trans }}" }}
                    </button>
                    {{ '{{ form_end(edit_form) }}' }}
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    {% set hide_edit, hide_delete = true, false %}
    {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    {{ "{% endblock %}" }}
{% endblock body %}
